/* ---TOP BAR--- */
#topbar{
    background-color: #afafaf;
    overflow: hidden;
    min-height: 50px;
    max-height: 100px;
}
#trio{
    list-style-type: none;
    margin: 0;
    padding-top: 25px;
    font-size: 40px;
    float: right;
}
#trio a{
    display: inline-block;
    text-align: center;
    text-decoration: none;
    color: black;
    padding-inline: 100px;


}
#trio a:hover{
    background-color: #6a6a6a;
    color: rgb(197, 192, 187);
}
#topbar img{
    height: 100px;
    width: 100px;
    object-fit: contain;
    margin: auto;
    float: left;
}

/* ---MAIN PAGESSS--- */
#content{
    margin: auto;
    max-width: 1200px;
    background-color: #969696;
}
body{
    background-color: rgb(197, 192, 187);
    font-family: Arial, sans-serif;
}


/* ---HOME--- */
#home{
    margin-top: 300px;
    text-align: center;
}
#home h1{
    font-weight: bold;

}
#home img{
    margin: auto;
}


/* ---PRODUCT--- */
#products{
    display: none;
}
#samples{
    margin: auto;
}

#samples h1{
    font-weight: bold;
}
#samples div{
    background-color: #afafaf;
    max-width: 390px;
    float: left;
}